@page "/"

@inject IJSRuntime jsRuntime;
<h1>Out of memory test.</h1>
<p role="status">Buffer collection count: @_collectionCount</p>
<button class="btn btn-primary" @onclick="CreateBuffer">Create Buffer</button>
<button class="btn btn-primary" @onclick="DestroyBuffer">Destroy Buffer</button>
@code {
    private int _collectionCount = 0;
    private List<byte[]> _bufferHolders = new List<byte[]>();
    private int _bufferLength = 5 * 1024 * 1024;
    private int _iterations = 10;

    private async Task CreateBuffer()
    {
        for (int i = 0; i < _iterations; i++)
        {
            byte[] digits = new byte[_bufferLength];
            for (int j = 0; j < _bufferLength; j++)
            {
                digits[j] = (byte)j;
            }
            _bufferHolders.Add(digits);
        }
        _collectionCount = _bufferHolders.Count;
        await jsRuntime.InvokeVoidAsync("alert", "Buffer created.");
    }

    private async Task DestroyBuffer()
    {
        _bufferHolders.Clear();
        _collectionCount = 0;
        await jsRuntime.InvokeVoidAsync("alert", "Buffer deleted.");
    }
}
